.App {
    width: 960px;
    margin: auto;
}
.inventory {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-direction: column;
}

.item-card {
    border-bottom: solid #ffaa00;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.item-card > * {
    position: relative;
    bottom: 0;
    padding-left: 0px;
}

.title {
    color: #340d63;
    font-weight: 900;
}

.desc {
    /* margin: 10px;
    margin-top: 5px; */
}

.price {
    position: relative;
    left: 191px;
}

.cat-btns {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.reset-filters {
    height: 25px;
    border: solid #ffaa00;
    border-radius: 5px;
    margin: 5px;
    color: #ffaa00;
    background-color: white
}

.reset-filters:hover {
    background-color: #ffaa00;
    cursor: pointer;
    color: white;
}

.hidden {
    visibility: hidden;
}